@font-face {
  font-family: "Neue Montreal 2020";
  src: url(../../fonts/NeueMontreal2020-Book.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal 2020";
  src: url(../../fonts/NeueMontreal2020-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal 2020";
  src: url(../../fonts/NeueMontreal-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
